PROJECT_TYPE=native   # native | bedrock
PROD_STACK=easyengine # stack do servidor de produção (easyengine | ...)

PROD_IP=0.0.0.0
PROD_PORT=2232
PROD_DOMAIN=example.com
STAGING_IP=0.0.0.0
STAGING_PORT=2232
STAGING_DOMAIN=staging.example.com

# EasyEngine management host SSH (porta 22 padrão)
MGMT_USER=infoadm

# duplicati-host-backup
B2_APPLICATION_KEY=""
B2_APPLICATION_KEY_ID=""

# WordPress bootstrap (used by .ddev/commands/web/install-wp-if-needed)
WP_TITLE="WP Deployer"
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=change-me
WP_ADMIN_EMAIL=admin@example.com
WP_TIMEZONE=America/Sao_Paulo
WP_DB_PREFIX=""
WP_LOCALE=pt_BR