# Application
web/wp-content/plugins/*
!web/wp-content/plugins/.gitkeep
web/wp-content/mu-plugins/*/
web/wp-content/themes/*/
!web/wp-content/themes/index.php
!web/wp-content/themes/.gitkeep
web/wp-content/upgrade
web/wp-content/uploads/*
!web/wp-content/uploads/.gitkeep
web/wp-content/webp-express/*
!web/wp-content/webp-express/.gitkeep
web/wp-content/cache/*
web/wp-content/languages/

# Whitelisted Plugins

# WordPress
web/wp-admin/
web/wp-includes/

# Ignore WordPress core files
web/wp-*.php
!web/wp-config.php
web/xmlrpc.php
web/license.txt
web/readme.html
web/index.php

# Initial data
init/data/*.tar*
init/data/*.sql*

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
